title{

}
body{
	background-image: url('kepek/image1.gif');	
	background-repeat: repeat;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	color: grey;
	text-align: center;
}
h2{
	color: grey;
}
p{
	color: grey;
}
.menu{
	background-color: grey;
	padding: 10px;
	border-width: 10px;
	border-style: solid;
	border-color: black;